* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-between {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  width: 100%;
  height: 908px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1171px;
  height: 57px;
}

.header__top .name {
  width: 117px;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color: #fcae61;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header__top .name .subname {
  color: #242f51;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 461px;
  margin: 0px 57px;
}

.top-menu__item {
  color: #242f51;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
  text-align: left;
}

.header__top .free-zayavka {
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  outline: none;
  border: 0;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
  cursor: pointer;
}

.header__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 865px;
  background: url("file:///E:/github/asd-verstka/img/Vector_Smart_Object.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bottom-img {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 245px;
  z-index: -1;
}

.bottom-img .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.best-app {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 3px;
  width: 768px;
  height: 630px;
  margin-top: 73px;
  background: url("file:///E:/github/asd-verstka/img/Layer_3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.main-text {
  width: 513px;
  padding-top: 187px;
}

.main-text__editors {
  display: flex;
  align-items: center;
  width: 362px;
  height: 35px;
  border-radius: 18px;
  background-color: #e2eaed;
}

.main-text__editors .icon {
  width: 39px;
  height: 35px;
  border-radius: 18px;
  background-color: #feaa25;
}

.main-text__editors .text {
  color: #242f51;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
  margin-left: 5px;
}

.main-text__best {
  width: 513px;
  color: #242f51;
  font-family: "Poppins";
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 75px;
  text-align: left;
  margin-top: 10px;
}

.main-text__increase {
  width: 481px;
  color: #616368;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
  margin-top: 15px;
}

.button-and-text {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.button-and-text__button {
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  outline: none;
  border: 0;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
}

.button-and-text__text {
  width: 152px;
  color: #2500f9;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
  text-align: left;
}

.phone-image {
  width: 680px;
  margin-top: 33px;
}

.trusted {
  width: 100%;
  max-width: 934px;
  margin-top: 114px;
}

.trusted .title {
  width: 100%;
  color: #242f51;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: center;
  margin-bottom: 38px;
}

.trusted .companies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.trusted .companies .companies__item {
  width: 150px;
}

.apps-features {
  width: 100%;
  padding: 0px 154px;
  margin-top: 155px;
  display: flex;
}

.apps-features__phone-block {
  width: 576px;
  height: 839px;
  margin-right: 10px;
}

.apps-features__phone-block .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.apps-features__text-block .title {
  width: 281px;
  color: #242f51;
  font-family: "Poppins";
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 46px;
  text-align: left;
  margin-top: 57px;
}

.apps-features__text-block .sub-title {
  width: 428px;
  height: 44px;
  color: #616368;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  margin-top: 10px;
}

.preimuschestva {
  margin-top: 50px;
}

.preimuschestva__item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.preimuschestva__icon {
  margin-right: 30px;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preimuschestva__text {
  width: 259px;
}

.preimuschestva__text .preimuschestva__title {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 58px;
  text-align: left;
}

.preimuschestva__text .preimuschestva__text {
  color: #616368;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
}

.preimuschestva-first .preimuschestva__title {
  color: #f55767;
}

.preimuschestva-first .preimuschestva__icon {
  background-color: #ffecef;
}

.preimuschestva-second .preimuschestva__title {
  color: #2563ff;
}

.preimuschestva-second .preimuschestva__icon {
  background-color: #f4f4ff;
}

.preimuschestva-third .preimuschestva__title {
  color: #40975f;
}

.preimuschestva-third .preimuschestva__icon {
  background-color: #e4ffee;
}

@media (max-width: 1200px) {
  .header__top {
    margin: 0px 40px;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }

  .header__bottom {
    height: auto;
  }

  .wrapper-between {
    flex-wrap: wrap-reverse;
  }

  .main-text {
    padding-top: 0px;
  }

  .best-app {
    width: 100%;
    align-items: center;
  }

  .header {
    height: auto;
  }

  .phone-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .apps-features {
    padding: 0px 10px;
    margin-top: 10px;
  }
}

@media (max-width: 850px) {
  .align-items-center {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-menu {
    width: 100%;
    margin: 20px 57px;
  }

  .trusted {
    margin-top: 50px;
  }

  .trusted .companies {
    flex-direction: column;
  }

  .trusted .companies .companies__item {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .apps-features {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .header__top .name {
    width: 100%;
  }

  .top-menu {
    flex-direction: column;
    margin: 20px 0px;
  }

  .align-items-center {
    width: 100%;
  }

  .top-menu__item {
    text-align: center;
  }

  .phone-image {
    padding: 0px 40px;
  }

  .phone-image .image {
    width: 100%;
  }

  .best-app {
    margin: 0px;
    padding: 0px 20px;
    margin-top: 20px;
  }

  .main-text {
    width: 100%;
  }

  .main-text > p {
    width: 100%;
    text-align: center;
  }

  .main-text__best {
    font-size: 40px;
    line-height: 55px;
  }

  .main-text__editors {
    width: 100%;
    height: auto;
    padding: 4px;
  }

  .main-text__editors .icon {
    display: none;
  }

  .button-and-text {
    flex-direction: column;
    width: 100%;
  }

  .button-and-text__text {
    width: 100%;
    text-align: center;
  }

  .apps-features__phone-block {
    width: 100%;
    margin-right: 0px;
  }

  .apps-features__phone-block .image {
    object-fit: cover;
  }

  .apps-features__text-block .title {
    width: 100%;
    text-align: center;
  }

  .apps-features__text-block .sub-title {
    width: 100%;
    text-align: center;
  }

  .preimuschestva__item {
    flex-direction: column;
  }

  .preimuschestva__icon {
    margin-right: 0px;
  }

  .preimuschestva__text {
    width: 100%;
  }

  .preimuschestva__text .preimuschestva__title {
    text-align: center;
  }

  .preimuschestva__text .preimuschestva__text {
    text-align: center;
  }
}
