* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1171px;
  height: 57px;
  margin-top: 92px;
}

.header__top .name {
  width: 117px;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  color: #fcae61;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.header__top .name .subname {
  color: #242f51;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  width: 461px;
  margin: 0px 57px;
}

.top-menu__item {
  color: #242f51;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
  text-align: left;
}

.header__top .free-zayavka {
  width: 170px;
  height: 57px;
  border-radius: 29px;
  background-color: #2500f9;
  outline: none;
  border: 0;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 44px;
}
